body{
    background-color: bisque;
    margin: 1vh;
}
#marcador{
    font-size: 30px;
    background-color: red;
    color: white;
    width: 30vh;
}
.buttonp{
    width: 5vw;
    height: 10vh;
    margin: 1vh;
    font-size: 30px;
}
.buttont{
    width: 5vw;
    height: 10vh;
    margin: 1vh;
    font-size: 30px;
}
.buttonm{
    width: 5vw;
    height: 10vh;
    margin: 1vh;
    font-size: 30px;
}
#resultado-final{
    border: 4px solid #000;
    font-size: 35px;
    width: max-content;
    height: max-content;
    margin: 1vh;
    background-color: blueviolet;
    color: white;
}
#historial{
    border: 4px solid #000;
    font-size: 35px;
    width: max-content;
    height: max-content;
    margin: 1vh;
    background-color: blueviolet;
    color: white;
}
.titulo{
    color: red;
    font-size: 8vh;
}
.selecciona{
    color: seagreen;
    font-size: 6vh;
}